/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #7FBEEB;
}



.headerNav {
  display: flex;
  align-items: center;
  gap: 8px;
  list-style: none;
}

.links,
.links:link,
.links:hover,
.links:active {
  color: rgb(12, 12, 12);
}

.headerLogo {
  width: 32px;
}

/* MAIN */
main {
  min-height: 100vh;
  background-color: #AFBED1;
}

/* FOOTER */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* TODO-LISTE */
.todoItem {
  
  color: rgb(37, 158, 158);
}


.delete-button {
  background-color: #4dc7ff;      
  color: rgb(34, 32, 32);
  border: none;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #cc0000;      /* Mørkere ved hover */
}